@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

@layer base {
	body {
		@apply bg-white text-gray-900 tracking-wide 
	}
	p {
		@apply font-light text-sm
	}
}

html {
	font-family: "Titillium Web", sans-serif;
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
